html {
	background-color: rgb(240, 240, 240);
}

.page {
	padding-top: 75px;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.caspio-block {
	padding: 20px;
	overflow: hidden;
}

.caspio-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

button {
	background-color: rgb(162, 0, 31) !important;
}

.text-box {
	height: 200px;
	overflow: hidden;
	overflow-y: scroll;
}

@media(max-width: 1000px) {
	.caspio-project-search-block {
		display: none;
	}
	
	.page {
		width: 100%;
	}
}
