html {
	background-color: white;
}

.page {
	margin-top: 25px;
}

.logo-image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.caspio-login-block {
	display: flex;
	margin-top: 130px;
	justify-content: center;
	align-items: center;
}

.login-actions {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.is-signature {
	color: white;
	background-color: rgb(162, 0, 31) !important;
}

#xip_First_Name {
	background-color: rgb(235, 235, 235);
}